@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

.dark body {
  background: #111111;
  color: white;
}

/* animation skills */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
